*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-size: medium;
}
body {
    background-image: url(../img/nino-autismo-caminando-solo.jpg);
    background-size: cover;
  font-family:Georgia, 'Times New Roman', Times, serif
}

li {
   display:flex inline;
    list-style: none;
    padding: 10px;
}
nav{
    float:none;
}
a {text-decoration: none;

}
.menu li { position: relative;
 


}
.menu >li > a{
   
    padding: 15px 15px;
    color: rgb(6, 4, 8);
    display: block;
    position: relative;
    background-color: rgba(92, 168, 191, 0.374);
    
}
.title-familia-herramientas{
  text-align: center;
}


.menu >li >a:hover { 
    color: rgb(136, 0, 255);
    transition: all.3s; 
}



aside {
    float: left;
    background-color: rgba(56, 143, 157, 0.227);
    min-height: 300px;
    padding: 10px;

}
footer {
    background-color: rgba(65, 129, 148, 0.394);
    color: rgba(0, 0, 0, 0.376);
    text-align: center;
    height: 50px;
    line-height: 50px;

}
 #section {
     background-color: rgba(44, 92, 92, 0.302);
     padding-left: 15px;
 }
.article {
    color: rgb(0, 0, 0);
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 30px;
}
    #section{
        float: left;
        width: 80%;
        min-height: 500px;
        padding: 5px;
        flex-basis: auto;

    }
    .clearfix {
        clear:both
      
      }
    
     
      .redes-sociales{
        position:fixed;right:0;
        top:20px

      }

   




.picture-test{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  background-color: rgba(240, 248, 255, 0.344);
  margin: 5px;
padding: 15px;
grid-gap: 15px;
}

.carousel-item {
  height: 85vh;
  min-height: 100px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}

  .carousel-item active{

    height: 85vh;
    min-height: 100px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .btn-primary {
--bs-btn-color: rgb(238, 233, 233);
--bs-btn-bg: #2277a9af;
--bs-btn-border-color: #0d6efd;
--bs-btn-hover-color: #fff;
--bs-btn-hover-bg: #0b5ed7;
--bs-btn-hover-border-color: }


.imagen-test1{
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.imagen-test2{
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.imagen-test3{
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns:repeat(3,1fr);
  grid-auto-rows: 150px;
  background-color: rgba(240, 248, 255, 0.58);
  grid-gap: 15px;
  padding: 15px;
}

.picture1{
  width: 100%;
   object-fit: cover;
   height: 100%;
}
.picture2{
  width: 100%;
  object-fit: cover;
  height: 100%;
}


.picture3{
  width: 100%;
  object-fit: cover;
  height: 100%;
}


.picture4{
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.picture5{
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.picture6{
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.gallery-picture{
  position:relative
}
.gallery-title{
  position: absolute;
  bottom: 0;
  color: rgb(0, 3, 6);
  background-color: rgba(240, 255, 255, 0.544);
  width: 100%;
font-family: cursive;
}



html{ font-size: 80.5%;

}

.form{
  background-color: rgba(69, 153, 153, 0.495);
  width: 440px;
  border-radius: 20px;
  padding: 8px;
  display:grid;
}
input,textarea{
  font-size: 13px;
    margin-bottom: 10px;
    
}

textarea{
  min-width: 100px;
  max-height: 200px;
  max-width: 450px;
}
#boton{
  background-color: rgb(91, 149, 152);
  padding: 10px;
  border-radius: 20px;
}
#boton:hover{
  cursor: pointer;
}


 /*comienzo de media queries 320 */ 
 


@media screen and (max-width:320px) {
  .container { display: inline-block;


}


.button{
  display:inline-block
}




.titulos-secundarios{
  text-align: center;
}


.picture-test{

  display: inline-block;
}

.box{
  display:inline-block;
  padding-left: 0px;
  width: auto;
background-color: rgba(240, 248, 255, 0.487);


}
.gallery-title{
  position: relative;
  bottom: 0;
  color: rgb(0, 3, 6);
  background-color: rgba(240, 255, 255, 0.544);
  width: 100%;
font-family: cursive;
}

aside {
  float: left;
  background-color: rgba(56, 143, 157, 0.227);
  min-height: 100px;
  padding: 10px;
  width: 80%;

}

#section{
  float: left;
  width: 80%;
  min-height: 500px;
  padding: 5px;
  flex-basis: auto;
  margin-left: 35px;
  margin-right: 35px;
  
}
}



 /*comienzo de media queries 480 */ 


@media screen and (max-width:480px) {
  .container {

grid-template-columns:repeat(2,1fr);
}

.form{
  width: 100%;
}

.title-index{
  text-align: center;
}

aside {
  float: left;
  background-color: rgba(56, 143, 157, 0.227);
  min-height: 100px;
  padding: 10px;
  width: 80%;
  margin-left: 35px;
  margin-right: 35px;

}

.titulos-secundarios{
  text-align: center;
}






#section{
  float: left;
  width: 80%;
  min-height: 500px;
  padding: 5px;
  flex-basis: auto;
  margin-left: 35px;
  margin-right: 35px;
  
}

textarea{
  min-width: 50px;
  max-height: 100px;
  max-width: 200px;
}
.picture-test{

  grid-template-columns: repeat(2,1fr);
}

.box{
  display:inline-block;
  padding-left: 0cm;
  width: auto;
background-color: rgba(240, 248, 255, 0.487);

}

.movie{
  width: 100%;
}
}


 /*comienzo de media queries 980 */ 


@media screen and (max-width:980px) {

  aside {
    float: left;
    background-color: rgba(56, 143, 157, 0.227);
    min-height: 100px;
    padding: 10px;
    width: 80%;
  
  }
  
  .title-index{
    text-align: center;
  }

  aside {
    float: left;
    background-color: rgba(56, 143, 157, 0.227);
    min-height: 100px;
    padding: 10px;
    width: 80%;
    margin-left: 35px;
    margin-right: 35px;
  
  }






  #section{
    float: left;
    width: 80%;
    min-height: 500px;
    padding: 5px;
    flex-basis: auto;
    margin-left: 35px;
    margin-right: 35px;
    
  }

  .titulos-secundarios{
    text-align: center;
  }





}


 /*ANIMACIONES */ 


@keyframes logo{
  0%{ transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
.logo{
  animation-name: logo;
  animation-duration: 4s;
}

.imagen-test1:hover{
  transform: scale(1.2);
  transition: transform .6s;
}
.imagen-test2:hover{
  transform: scale(1.2);
  transition: transform .6s;
}
.imagen-test3:hover{
  transform: scale(1.2);
  transition: transform .6s;



 



}